.Container {
  width: 100%;
  min-height: 100vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #681e53cf;
}

.Info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Abouts {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  font-size: 1.3rem;
  width: 50%;

  @media (max-width: 720px) {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
    text-align: center;
  }
}

.pAbout {
  text-align: justify;
  padding: 1rem;
  color: #fff;
}

.pAbout span {
  color: rgb(228, 121, 165);
  font-weight: 800;
}

.ImgContainer {
  width: 320px;
  position: relative;
  border-radius: 50%;
}

.ImgContainer img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 780px) {
  .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ImgContainer {
    width: 200px;
  }

  .Abouts {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .Info {
    flex-direction: column;
  }

  .ImgContainer {
    width: 100px;
    margin-top: 8rem;
  }

  .Abouts h1 {
    font-size: 1.3rem;
    text-align: center;
  }

  .pAbout {
    font-size: 1rem;
  }
}
