@keyframes imagem {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-20px);
  }
}

.HomeContainer {
  width: 100%;
  height: 100vh;
  padding: 0 50px;
  /*background-image: url(../assets/bgDev.gif);*/
  /*background-size: cover;*/
  justify-content: space-around;
  /*background-position: center;*/
  display: flex;
  align-items: center;
}

.imagem {
  width: 750px;
  border-radius: 80px;
  animation-name: imagem;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  filter: grayscale(0.6);
}

.buttonInline {
  display: flex;
  flex-direction: row;
}

.Texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;

  @media (max-width: 768px) {
    margin-top: 4rem;
  }
}

.HomeContainer .hello {
  border-right: 2px solid transparent;
  color: #fffeff;

  padding-bottom: 0%;
  letter-spacing: 3px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 10s steps(80) infinite alternate,
    cursor 1.5s steps(80) infinite alternate;
}

@keyframes cursor {
  from {
    width: 0%;
  }
  to {
    width: 35%;
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 35%;
  }
}

.HomeContainer p {
  color: #c4318e;
  text-align: left;
}

.HomeContainer h1 {
  color: #fffeff;
  font-size: 3rem;
  letter-spacing: 2px;
}

button {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.linkedinButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: #c4318e;
  border: 1px solid #c4318e;
  border-radius: 10px;
  gap: 1rem;
  width: 200px;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  transition: all 0.1s ease-in-out;
  transform: scale(0.9);
  cursor: pointer;
}
.linkedinButton:hover {
  background-color: #c4318e;
  color: white;
  transform: scale(1);
}

@media screen and (max-width: 780px) {
  .HomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .HomeContainer .hello {
    margin-left: 2.5rem;
  }

  .HomeContainer p {
    margin-top: 6rem;
    text-align: center;
  }

  .HomeContainer h1 {
    font-size: 2rem;
  }

  .imagem {
    width: 450px;
  }

  .Texts .buttonInline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .HomeContainer .hello {
    margin-left: 0;
    font-size: 15px;
    letter-spacing: 1.5px;
  }
}
