.NavBarContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s ease-in-out;
  height: 60px;
  position: fixed;
  /*backdrop-filter: blur(2px);*/
  padding: 1rem;
  z-index: 99999;
}

.List {
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: 1rem;
  letter-spacing: 1.5px;
  justify-content: space-around;
  list-style: none;
  padding: 1rem;
  flex-direction: row;
  transition: all 0.8s ease-in-out;
}

.List li {
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
  padding: 5px;
  display: flex;
  align-items: center;
}

li:hover {
  transform: scale(1);
  border-bottom: 1px solid #ff0099;
  color: #ff0099;
}

.List a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  padding: 5px;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #ff0099;
}
.List li svg {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  margin: 5px 5px;
}

.Hamburger {
  display: none;
}

@media screen and (max-width: 780px) {
  .NavBarContainer .List {
    display: none;
  }

  .Hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 20px;
    border: none;
    outline: none;
    right: 25px;
  }
}
